//test
.tb {
  outline: 1px solid black;
}
.tw {
  outline: 1px solid white;
}
.tr {
  outline: 1px solid red;
}

// global
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.h100 {
  height: 100%;
}

.flex-container {
  display: flex;
}
.text-center {
  text-align: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// video background
.background-banner {
  position: fixed;
  height: 100vh;
  width: 20%;
  left: 0;
  top: 0;
  align-items: center;
  overflow: hidden;
}
.video-background {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2.4);
}

//app.js
.body {
  max-width: 100%;
}
.content-container {
  max-width: 60%;
  margin: 0 auto;
  background-color: white;
}

// nav
.nav-container {
  width: 100%;
  color: white;
  flex-direction: column;
  justify-content: center;
}

.banner {
  background-color: black;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logo {
  max-height: 8vh;
}

.navsub1-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
}

.website-name {
  font-weight: 900;
  font-size: larger;
}

.slogan {
  font-weight: 300;
  font-size: 1rem;
}

.nav-items-container {
  height: 3rem;
  background-color: #303030;
  ul {
    list-style-type: none;
    .nav-item {
      max-width: 33.33%;
    }
    li {
      text-align: center;
    }
  }
}

.nav-items {
  width: 100%;
  justify-content: space-around;
}

//submit
.submit-container {
  padding-top: 1rem;
  width: 100%;
  text-align: center;
  h1 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  form {
    padding-top: 1rem;
    width: 60%;
    margin: 0 auto;
    input {
      width: 60%;
      border: none;
      border-bottom-style: groove;
      &:focus {
        outline: none;
        background-color: rgb(204, 204, 204);
      }
    }
    textarea {
      border-style: groove;
      width: 60%;
      height: 8rem;
    }
  }

  .input-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

// social-media
.social-media-container {
  position: fixed;
}

@media screen and (max-width: 600px) {
  .submit-container {
    form {
      width: 100%;
      input {
        width: 80%;
      }
      textarea {
        width: 80%;
      }
    }
  }
}
